<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        選手紹介
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>背番号</th>
            <th>名前 (漢字)</th>
            <th>名前 (カナ)</th>
            <th>学年</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sebangou">1</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">2</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">3</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">4</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">5</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">6</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">7</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">8</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">9</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">４年</td>
          </tr>
          <tr>
            <td class="sebangou">10</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">４年</td>
          </tr>
          <tr>
            <td class="sebangou">11</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">４年</td>
          </tr>
          <tr>
            <td class="sebangou">12</td>
            <td class="kanji">流美位　令流</td>
            <td class="kana">ルビイ　レイル</td>
            <td class="gakunen">４年</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>