<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        選手紹介
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>背番号</th>
            <th>名前 (漢字)</th>
            <th>名前 (カナ)</th>
            <th>学年</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sebangou">1</td>
            <td class="kanji">佐藤　陽翔</td>
            <td class="kana">サトウ　ハルト</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">2</td>
            <td class="kanji">鈴木　結翔</td>
            <td class="kana">スズキ　ユイト</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">3</td>
            <td class="kanji">高橋　颯</td>
            <td class="kana">タカハシ　ソウ</td>
            <td class="gakunen">６年</td>
          </tr>
          <tr>
            <td class="sebangou">4</td>
            <td class="kanji">田中　朝陽</td>
            <td class="kana">タナカ　アサヒ</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">5</td>
            <td class="kanji">伊藤　蓮</td>
            <td class="kana">イトウ　レン</td>
            <td class="gakunen">５年</td>
          </tr>
          <tr>
            <td class="sebangou">6</td>
            <td class="kanji">渡辺　湊斗</td>
            <td class="kana">ワタナベ　ミナト</td>
            <td class="gakunen">４年</td>
          </tr>
          <tr>
            <td class="sebangou">7</td>
            <td class="kanji">山本　蒼</td>
            <td class="kana">ヤマモト　アオイ</td>
            <td class="gakunen">４年</td>
          </tr>
          <tr>
            <td class="sebangou">8</td>
            <td class="kanji">中村　樹</td>
            <td class="kana">ナカムラ　イツキ</td>
            <td class="gakunen">３年</td>
          </tr>
          <tr>
            <td class="sebangou">9</td>
            <td class="kanji">小林　大翔</td>
            <td class="kana">コバヤシ　ヒロト</td>
            <td class="gakunen">２年</td>
          </tr>
          <tr>
            <td class="sebangou">10</td>
            <td class="kanji">加藤　陽大</td>
            <td class="kana">カトウ　ヨウタ</td>
            <td class="gakunen">２年</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>