<div class="card">
  <%= link_to schedule.status.name, schedule_path(schedule) %>
  <div class="card__body">
    <%= link_to schedule.match_day, schedule_path(schedule), class: :card__title%>
    <p class="card__summary">
      <%= schedule.opponent %>
    </p>
    <%= link_to "by #{schedule.user.name_kanji}", user_path(schedule.user), class: :card__user %>
  </div>
</div>