<div class="card">
  <%= link_to image_tag(schedule.image, class: :card__img ), schedule_path(schedule) %>
  <div class="card__body">
    <%= link_to schedule.title, schedule_path(schedule), class: :card__title%>
    <p class="card__summary">
      <%= schedule.catch_copy %>
    </p>
    <%= link_to "by #{schedule.user.name}", user_path(schedule.user), class: :card__user %>
  </div>
</div>