<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">少年野球団スケジュール編集</h2>
      <%= render partial: "form", locals: { schedule: @pschedule } %>
    </div>
  </div>
</div>