/* リセットCSS */

* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #3b4043;
}




/* ヘッダー */

.header {
  background-color: #b6fdb4;
  margin-bottom: 20px;
  padding: 10px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 600px;
}
.nav__btn{
  display: block;
  width: 180px;
  /* height:20px; */
  margin-bottom: 8px;
  padding: 0.2em 1.6em;
  font-size: 1.0em;
  color: #000000;
  background: #d9ff00;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 20px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
/* .nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
} */
/* .nav__logout:hover{
  color: #fff;
  background: #87CEFA;
} */
.greeting{
  display: flex;
  margin: 5px;
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.greeting__today{
  margin: 10px 0 0 20px;
  font-size: 16px;
  text-align: center;
}



/* 共有 */

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}




/* 新規スケジュール */

.form__wrapper{
  min-height: calc(100vh - 161px);
}
.field__status_id{
  margin: 15px 0;
  font-size: 16px;
}
.match_day{
  margin: 0 0 3px;
  font-size: 16px;
}
.field__match_day{
  margin: 0 0 15px;
  font-size: 16px;
  display: flex;
  height: 20px;
}
.field__match_week{
  margin: 15px 0;
  font-size: 16px;
}
.field__opponent{
  margin: 15px 0;
  font-size: 16px;
}
.field__location{
  margin: 15px 0;
  font-size: 16px;
}
.form__text {
  width: 40%;
}
.field__start_time{
  margin: 15px 0;
  font-size: 16px;
}
.field__meeting_time{
  margin: 15px 0;
  font-size: 16px;
}
.deadline{
  margin: 0 0 3px;
  font-size: 16px;
}
.field__deadline{
  margin: 0 0 15px;
  font-size: 16px;
  display: flex;
  height: 20px;
}
.actions{
  margin-bottom: 60px;
}
.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}




/* インデックス */

.card__wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}



.card {
  margin-bottom: 20px;
  width: 100%;
  border: 3px #10ef17 solid;
  border-radius: 20px;
}
.card__status {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
}
.card__match {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
  display: flex;
}
.card__opponent {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
}
.card__start_time {
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 18px;
}
.card__user_name_kanji {
  margin-bottom: 2px;
  padding-right: 10px;
  font-size: 12px;
  display: block;
  color: #999;
  text-align: right;
  text-decoration: underline;
}




/* スケジュール詳細 */

.schedule__heading{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.schedule__wrapper{
  display: flex;
  justify-content: space-between;
}
.schedule__status{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
.schedule__user{
  display: flex;
  font-size: 16px;
  align-items: center;
  text-decoration: underline;
}
.schedule__manage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.schedule__btn{
  display: block;
  padding: 0.2em 1.0em;
  font-size: 1.0em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 6px;
}
.schedule__btn:hover{
  color: #fff;
  background: #999;
}
.schedule__match {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
  display: flex;
}
.schedule__opponent {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
}
.schedule__start_time {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
}
.schedule__location {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
}
.schedule__meeting_time {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
}
.schedule__deadline {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: #ff0000;
}
.schedule__comments{
  background-color: #c7f6c7;
  padding: 10px;
  margin: 28px 0 40px 0;
}
.comments_lists{
  font-size: 14px;
  padding-left: 15px;
}
.comment__all{
  display: flex
}
.comments_list{
  font-size: 14px;
  list-style-type: square;
  padding-bottom: 5px;
}
.comment{
  font-size: 16px;
  /* padding-left: 20px; */
}
.field{
  margin: 10px 0;
}




/* 選手紹介 */

.user__wrapper{
  min-height: calc(100vh - 161px);
}


table {
  width: 90%;
  border-collapse: collapse;
  font-style: italic;
  margin-bottom: 100px;
}
th, td {
  border: 1px solid #000;
  padding: 5px;
}
th {
  background-color: #98b1fc;
  text-align: center;
  font-size: 20px;
}
td {
  text-align: left;
  font-size: 16px;
}
.kana, .kanji {
  font-size: 20px;
}
.sebangou, .gakunen {
  font-size: 26px;
  text-align: center;
  /* width: 80px; */
}

tbody tr:nth-child(even) {
  background-color: #cae2fb;  /* 偶数行の背景色 */
} 


/* .user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */




/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}




/* タブレット対応 */

@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .schedule_image{
    width: 60%;
  }
}




 /* スマホ表示 */

@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 90%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .schedule_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}